/**This is the style for the css_box_model.html
*CONTENTS
*
*SETTINGS
*Global............Global styles and config
*
*GENERIC
*Normalize.css.....A level playing field
*Box-sizing........Better default box-sizing
*HEADER............
DIV BOX STYLING....Styles for div boxes
*/

/*----------------------------------------*\
	BOX SIZING
\*----------------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/*----------------------------------------*\
	HEADER
\*----------------------------------------*/
h1 {
	text-decoration: underline;
	color: purple;
}
/*----------------------------------------*\
	DIV BOX STYLING
\*----------------------------------------*/


/*** Settings which apply to all boxes***/

.box {
	width: 172px; /*150 without border box*/
	height: 72px; /* 50 without border box*/
	padding: 10px;
	border: 1px solid black;
	margin: 10px 0;
	font-family: wavelength;
	font-weight: bold;
	color: white;
}

/*** Settings which are unique to each box***/

#red {
	background-color: red;
}
#orange {
	background-color: orange;
	margin-left: 30px;
}
#ylw {
	background-color: yellow;
	margin-left: 60px;
}
#grn {
	background-color: green;
	margin-left: 90px;
}
#blue {
	background-color: blue;
	margin-left: 120px;
}
#violet {
	background-color: #EE82EE;
	margin-left: 150px;
}
