/*This is the style for concentration.html*/
/*CONTENTS
*
*SETTINGS
*Global............Global styles and config
*
*Deck of Cards.......styles for each card

**/

/*------------------- Global -----------------------*/
#memory_board {
	background: #CCC;
	border: 1px #999 solid;
	width: 800px;
	height: 540px;
	padding: 24px;
	margin: 0px auto;
}

/*------------------- Deck of Cards -----------------------*/

#memory_board > div {
	background-image: url("/img/capesanblas.jpeg");
	background-image: no-repeat;
	border: 1px #000 solid;
	width: 71px;
	height: 71px;
	float: left;
	margin: 10px;
	padding: 20px;
	font-size: 64px;
	cursor: pointer;
	text-align: center;
}