html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.containter {
	margin: 0 auto;
	width: 80%;
	max-width: 1200px;
}
/*------------------ Rows */
.row {
	width: 100%;
	/*background: gray;*/
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
/*------------------ Global Column Settings*/
.column {
	float: left;
	padding: 10px;
	margin-bottom: 5px;
	border: solid black 2px;
}
/* -----------------Column Widths and styles*/
.column.three-fourths {
	width: 75%;
	background: #00CE91;
	height: 90px;
}
.column.two-thirds {
	width: 66.66%;
	background: #FF1493;
	height: 70px;
	margin-left: 10px;
}
.column.one-half {
	width: 50%;
	background: green;
}
.column.one-third {
	width: 33.33%;
	background: orange;
}
.column.one-fourth {
	width: 25%;
	background: red;
}
.column.one-sixth {
	width: 16.667%;
	background: yellow;
}
.column.one-eighth {
	width: 12.5%;
	background: gray;
}
.column.one-tenth {
	width: 10%;
	background: #9400D3;
}
.column.one-twelfth {
	width: 8.3%;
	background: blue;
}

/*---------------Column Margins and off-sets*/
.column.one-sixth.offset-one-fourth {
	margin-left: 25px;
}
.offset-one-fourth {
	padding: 50px;
}
.column.one-fourth.offset-one-half {
	margin-left: 50%;
}

