		body {
			background-color: silver;
			font-family: Tahoma, Helvetica, Sans-Serif;
			font-size: 18px;
			background-image: url("/img/capesanblas.jpeg");
			background-repeat: no-repeat;
			background-size: cover;
			/*background-position: */
		}
		h1 {
		color: blue;
		text-decoration: underline;		
		text-align: center;
	}
		h2 {
		color: aqua;
		text-decoration: underline;	
	}
		#fav-quote {
			font-style: italic;
		}