/*this is the style doc for jabberwocky_html*/
h2 {
	text-transform: uppercase; 
	font-weight: bolder;
}
span {
	text-decoration: line-through;
	background-color: red;
}
#p1 {
	font-family: Lucida, Liberation Sans, sans-serif;
	text-align: left;
	font-size: 25px;
	text-indent: 145px;
}
#p2 {
	font-family: Lucida, Liberation Sans, sans-serif;
	text-align: right;
	font-size: 25px
}
#p3 {
	font-family: Lucida, Liberation Sans, sans-serif;
	text-align: left;
	font-size: 25px;
	text-indent: 145px;
}

a:link {
	font-family: Papyrus, Lucida, serif;
	font-size: 60px;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}